<h1>Products</h1>

<table border="1">
    <tr>
        <th>Product ID</th>
        <th>Description</th>
        <th>Store ID</th>
        <th>Location</th>
        <th>Price</th>
    </tr>
    <!--employees comes from other page -->
     <% products.forEach((p) =>{ %>
<tr>
    <td><%= p.pid %></td>
    <td><%= p.productdesc %></td>
    <td><%= p.sid %></td>
    <td><%= p.location %></td>
    <td><%= p.price %></td>
    <td><a href="/products/delete/<%= p.pid %>">delete</a></td>
</tr>
<% }) %>
</table>
<a href="/">Home</a>